@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:wght@400;700&family=Pacifico&family=Playfair+Display&family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6C6C6C;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1152px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  min-height: 62px;
  background: #AC1313;
  padding: 19px 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #AC1313;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.button:hover {
  background: none;
  color: #AC1313;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

.header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 91px;
}

.header__logo {
  position: relative;
  z-index: 5;
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 121%;
  text-align: center;
  color: #000000;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  margin: 0px 0px 0px 40px;
}

@media (min-width: 768px) {
  .menu__list > li:last-child {
    margin: 0px 0px 0px 20px;
  }
}

.menu__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6C6C6C;
  -webkit-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.menu__link:hover {
  color: #AC1313;
}

.menu__cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 38px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #000000;
  padding-left: 41px;
  border-left: 1px solid #EBEBEB;
  position: relative;
}

@media (min-width: 767.98px) {
  .menu__cart {
    overflow: hidden;
  }
}

.menu__cart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 16px;
  background: url("../img/header/cart.svg") left center no-repeat;
  -webkit-animation: shop 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal none;
          animation: shop 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal none;
}

@media (min-width: 768px) {
  .menu__cart:hover {
    color: #AC1313;
  }
  .menu__cart:hover::before {
    background: url("../img/header/cart_red.svg") left center no-repeat;
  }
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    background-color: #000;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 125px 30px 30px 30px;
    text-align: center;
    -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 91px;
    background-color: #FFFFFF;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0 0 40px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    color: #EBEBEB;
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
  }
  .menu__cart {
    margin-top: 20px;
    color: #EBEBEB;
    font-size: 34px;
    line-height: calc(42 / 34 * 100%);
    text-transform: uppercase;
    border-left: 0px;
  }
  .menu__cart::before {
    background: url("../img/header/cart_white.svg") left no-repeat;
    background-size: contain;
    left: -10px;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes shop {
  0% {
    left: -60%;
  }
  100% {
    left: 16px;
  }
}

@keyframes shop {
  0% {
    left: -60%;
  }
  100% {
    left: 16px;
  }
}

.home {
  position: relative;
  padding-top: 92px;
}

.home__container {
  padding-top: 94px;
  padding-bottom: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width: 991.98px) {
  .home__container {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}

@media (max-width: 767.98px) {
  .home__container {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

@media (max-width: 1110.98px) {
  .home__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.home__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

@media (max-width: 1110.98px) {
  .home__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.home__suptitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
}

.home__suptitle:not(:last-child) {
  margin-bottom: 12px;
}

.home__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 121%;
  color: #000000;
}

.home__title span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  color: #AC1313;
}

.home__title:not(:last-child) {
  margin-bottom: 14px;
}

@media (max-width: 991.98px) {
  .home__title {
    font-size: 40px;
  }
  .home__title span {
    font-size: 58px;
  }
}

.home__subtitle {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #6C6C6C;
}

.home__subtitle:not(:last-child) {
  margin-bottom: 51px;
}

@media (max-width: 991.98px) {
  .home__subtitle:not(:last-child) {
    margin-bottom: 30px;
  }
}

.home__image {
  padding-left: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.home__image img {
  max-width: 100%;
}

@media (max-width: 1110.98px) {
  .home__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-top: 40px;
  }
}

.home__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about__product {
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid #DBDBDB;
}

@media (max-width: 991.98px) {
  .about__product {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .about__product {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.about__vase {
  padding-top: 77px;
  padding-bottom: 50px;
  border-bottom: 1px solid #DBDBDB;
}

@media (max-width: 991.98px) {
  .about__vase {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .about__vase {
    padding-top: 50px;
  }
}

.product-about {
  position: relative;
}

.product-about__absolute-text {
  position: absolute;
  width: 213px;
  height: 34px;
  left: -34px;
  top: 40%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
}

@media (max-width: 1279.98px) {
  .product-about__absolute-text {
    display: none;
  }
}

.product-about__suptitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
}

.product-about__suptitle:not(:last-child) {
  margin-bottom: 8px;
}

.product-about__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}

.product-about__title span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 1;
  text-align: center;
  color: #AC1313;
}

.product-about__title:not(:last-child) {
  margin-bottom: 63px;
}

@media (max-width: 479.98px) {
  .product-about__title {
    font-size: 30px;
  }
  .product-about__title:not(:last-child) {
    margin-bottom: 50px;
  }
}

.product-about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.product-about__columns:not(:last-child) {
  margin-bottom: 90px;
}

@media (max-width: 991.98px) {
  .product-about__columns {
    row-gap: 40px;
  }
}

@media (max-width: 479.98px) {
  .product-about__columns {
    row-gap: 30px;
  }
}

.product-about__image img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .product-about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.product-about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 133px;
          column-gap: 133px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1179.98px) {
  .product-about__content {
    -webkit-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (max-width: 991.98px) {
  .product-about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .product-about__text-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .product-about__text-block:not(:last-child) {
    padding-bottom: 50px;
  }
}

.text-block__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 124%;
  color: #000000;
}

.text-block__title:not(:last-child) {
  margin-bottom: 26px;
}

.text-block__text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #6C6C6C;
}

.vase-about {
  position: relative;
}

.vase-about__absolute-text {
  position: absolute;
  width: 233px;
  height: 34px;
  right: -61px;
  top: 45%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1279.98px) {
  .vase-about__absolute-text {
    display: none;
  }
}

.vase-about__first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 86px;
          column-gap: 86px;
}

.vase-about__first-block:not(:last-child) {
  padding-bottom: 5px;
}

@media (max-width: 991.98px) {
  .vase-about__first-block {
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
  .vase-about__first-block:not(:last-child) {
    padding-bottom: 25px;
  }
}

@media (max-width: 767.98px) {
  .vase-about__first-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .vase-about__first-block .vase-about__content {
    margin-bottom: 30px;
  }
}

.vase-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.vase-about__image img {
  max-width: 100%;
}

.vase-about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.vase-about__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: #000000;
}

.vase-about__title:not(:last-child) {
  margin-bottom: 23px;
}

@media (max-width: 767.98px) {
  .vase-about__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

.vase-about__text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #6C6C6C;
}

.vase-about__text:not(:last-child) {
  margin-bottom: 27px;
}

@media (max-width: 767.98px) {
  .vase-about__text:not(:last-child) {
    margin-bottom: 15px;
  }
}

.vase-about__button {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #000000;
  background: none;
}

.vase-about__button::after {
  content: "  >";
  position: relative;
  opacity: 0;
  left: -10px;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.vase-about__button:hover::after {
  left: 0px;
  opacity: 1;
}

.vase-about__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 160px;
          column-gap: 160px;
}

@media (max-width: 991.98px) {
  .vase-about__second-block {
    -webkit-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (max-width: 767.98px) {
  .vase-about__second-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .vase-about__second-block .vase-about__content {
    margin-bottom: 30px;
  }
}

.shop {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .shop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .shop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.shop__absolute-text {
  position: absolute;
  width: 273px;
  height: 34px;
  left: -60px;
  top: 48%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 179%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
}

@media (max-width: 1340.98px) {
  .shop__absolute-text {
    display: none;
  }
}

.shop__container {
  text-align: center;
}

.shop__suptitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
}

.shop__suptitle:not(:last-child) {
  margin-bottom: 17px;
}

.shop__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #000000;
}

.shop__title:not(:last-child) {
  margin-bottom: 63px;
}

@media (max-width: 479.98px) {
  .shop__title:not(:last-child) {
    margin-bottom: 43px;
  }
}

.shop__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.shop__columns:not(:last-child) {
  margin-bottom: 60px;
}

@media (max-width: 991.98px) {
  .shop__columns {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  .shop__columns {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .shop__columns:not(:last-child) {
    margin-bottom: 40px;
  }
}

.item-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #DBDBDB;
}

.item-shop__image {
  position: relative;
  padding-bottom: 133%;
  overflow: hidden;
}

.item-shop__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.item-shop__image:not(:last-child) {
  margin-bottom: 20px;
}

.item-shop__image:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.item-shop__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #6C6C6C;
}

.item-shop__title:not(:last-child) {
  margin-bottom: 2px;
}

.item-shop__title:hover {
  text-decoration: underline;
}

.item-shop__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24px;
          flex: 0 1 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #000000;
}

.start-shop {
  position: relative;
}

.start-shop__container {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .start-shop__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .start-shop__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 479.98px) {
  .start-shop__container {
    text-align: center;
  }
}

.start-shop__suptitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
}

.start-shop__suptitle:not(:last-child) {
  margin-bottom: 2px;
}

.start-shop__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: #000000;
}

.start-shop__title:not(:last-child) {
  margin-bottom: 13px;
}

@media (max-width: 767.98px) {
  .start-shop__title {
    font-size: 32px;
  }
}

.start-shop__text {
  max-width: 520px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #6C6C6C;
}

.start-shop__text:not(:last-child) {
  margin-bottom: 30px;
}

.start-shop__text a {
  color: #AC1313;
}

.start-shop__text a:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .start-shop__text {
    max-width: 320px;
  }
}

@media (max-width: 767.98px) {
  .start-shop__text {
    max-width: 250px;
  }
}

@media (max-width: 479.98px) {
  .start-shop__text {
    text-align: center;
    max-width: none;
  }
}

.start-shop__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 479.98px) {
  .start-shop__background img {
    opacity: 0.5;
  }
}

.contact {
  position: relative;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 120px;
  padding-bottom: 160px;
}

@media (max-width: 991.98px) {
  .contact {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767.98px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.contact__absolute-text {
  position: absolute;
  width: 273px;
  height: 34px;
  right: -60px;
  top: 35%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 179%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
}

@media (max-width: 1340.98px) {
  .contact__absolute-text {
    display: none;
  }
}

.contact__container {
  text-align: center;
}

.contact__image img {
  max-width: 100%;
}

.contact__image:not(:last-child) {
  margin-bottom: 40px;
}

.contact__suptitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
}

.contact__suptitle:not(:last-child) {
  margin-bottom: 20px;
}

.contact__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}

.contact__title span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  text-align: center;
  color: #AC1313;
}

.contact__title:not(:last-child) {
  margin-bottom: 73px;
}

.contact__form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form:not(:last-child) {
  margin-bottom: 40px;
}

.contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  min-height: 48px;
  padding: 12px 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #A1A1A1;
  border: 1px solid #A1A1A1;
}

.contact__input:focus {
  color: #000;
}

.contact__button {
  margin-left: 4px;
  min-height: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 175px;
          flex: 0 1 175px;
  padding: 12px 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #000000;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 2px solid #000;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.contact__button:hover {
  background: none;
  color: #000;
}

.contact__checkbox {
  display: none;
}

.contact__label div {
  display: inline;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #A1A1A1;
  padding-left: 10px;
}

.contact__label span {
  height: 12px;
  width: 12px;
  border: 1px solid #8534FF;
  display: inline-block;
  position: relative;
  background-color: #8534FF;
  border-radius: 2px;
}

.contact__label [type=checkbox]:checked + span::before {
  content: "\2714";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 0;
  left: 0;
  font-size: 10px;
  color: green;
}

.last {
  background: rgba(219, 219, 219, 0.1);
  border-bottom: 1px solid #DBDBDB;
  padding-top: 107px;
  padding-bottom: 90px;
}

@media (max-width: 991.98px) {
  .last {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .last {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.last__title {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 121%;
  color: #000000;
  text-align: center;
}

.last__title:not(:last-child) {
  margin-bottom: 30px;
}

.last__text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #6C6C6C;
}

.last__text:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 991.98px) {
  .last__text:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .last__text:not(:last-child) {
    margin-bottom: 45px;
  }
}

.last__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
          column-gap: 46px;
}

@media (max-width: 767.98px) {
  .last__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 35px;
  }
}

.last__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 767.98px) {
  .last__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.item-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.item-last__image img {
  max-width: 100%;
}

.item-last__image:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .item-last__image:not(:last-child) {
    margin-bottom: 8px;
  }
}

.item-last__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.item-last__title:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .item-last__title:not(:last-child) {
    margin-bottom: 10px;
  }
}

.item-last__info {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #6C6C6C;
}

.item-last__info:hover {
  text-decoration: underline;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 85px;
          flex: 0 1 85px;
  background: rgba(219, 219, 219, 0.2);
}

.footer__container {
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  color: #6C6C6C;
}

.footer__text span {
  color: #000;
}
